@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<style rel="stylesheet">
    .folder{

    } ul{
        list-style: none;
    }
</style>

<ul><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>Private</li><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>Public<ul><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>Teste01<ul><li><i class="bi-file-earmark mx-2"></i>0ad302d7-a6a0-4cd7-add3-73789e1ea94c.sql</li><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>Nova pasta<ul><li><i class="bi-file-earmark mx-2"></i>exp1on.png</li><li><i class="bi-file-earmark mx-2"></i>fotinha.png</li><li><i class="bi-file-earmark mx-2"></i>Ghibli 1.jpg</li><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>NovaPasta2</li></ul></li><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>Nova pasta - Copia<ul><li><i class="bi bi-caret-down mx-2"></i><i class="bi bi-folder mx-2"></i>NovaPasta2</li></ul></li></ul></li></ul></li></ul>
<directory></directory>
